.App{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper{
    height:220px;
    width: 350px;
    /* border:2px solid black; */
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top:20px;
    background: #99E9F2;
    box-shadow: 5px 3px 10px #888888;
 

}
/*font sizes*/
.foodName{
    font-family:Roboto, sans-serif;
    font-size: 24px;
    font-weight:bolder;
    text-align: left;
}

.cost{
    font-family:Roboto, sans-serif;
    font-size: 24px;
    font-weight: light;
    text-align: left;
}

.foodDiscription{
    font-family:Roboto, sans-serif;
    font-size: 18px;
    font-weight: lighter;
    text-align: left
}

/* */
.foodImage{
    height:60px;
    width:60px;
    border-radius: 100%;
    background: green;
    margin-left: 15px;
    margin-top: 15px;
   
}
.topBox{
    height:130px;
    width: 350px;
    display: flex;
    flex-direction: row;

}

.bottompart{
    height:145px;
    width:350px;
    
    display:flex;
    align-items: center;
    justify-content: center;
}

.discription{
    height:100px;
    width: 320px;
    background: white;
    padding:4px;
    border-radius: 5px;
    
}

.textBoxes{
    height:30px;
    width:230px;
    margin-top:15px;
    margin-left:15px;
}

.moneyBox{
    height:20px;
    width:120px;
    
    margin-top: 5px;
}
.foodBox{
    
    height: 35px;
    width:240px;
}
